ErrorDocument 500 /error
ErrorDocument 404 /404

RewriteEngine on
RewriteBase /

RewriteCond %{REQUEST_URI} ^/error$
RewriteRule ^(.*)$ /error.html [L]

RewriteCond %{REQUEST_URI} ^/404$
RewriteRule ^(.*)$ /404.html [L]

RewriteCond %{REQUEST_URI} !=/main.php
RewriteCond %{REQUEST_URI} !=/404.html
RewriteCond %{REQUEST_URI} !=/error.html
RewriteRule ^.*$ /main.php [L,QSA]